
/* // GENERAL // */
/* introduction section only after the header banner */
@media only screen and (max-width: 540px) {
	.font-size-control {
		font-size: 28px !important;
	}
}


.hide-on-mobile {
	display: block;
}
.show-on-mobile {
	display: none;
}
@media only screen and (max-width: 768px) {
	.hide-on-mobile {
		display: none;
	}
	.show-on-mobile {
		display: block;	
	}
}


.full-width {
	width: 100%;
}
.move-upper {
	position: relative;
	top: -75px;
	background-color: none;
}
@media only screen and (max-width: 768px) {
	.move-upper {
		top: 0;
	}
}

.move-down {
	position: absolute;
	top: 100px;
}

@media only screen and (max-width: 768px) {
	.mobile-full-height {
		height: calc(100vh - 105px);
	}
}

.overlap {
	z-index: 50;
}

.image-inner-padding {
	padding: 9px;
}
.remove-padding {
	padding: 0;
}
.remove-margin {
	margin: 0;
}


.flex-center {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	-webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.bordered {
	border: 1px solid #aaa;
}


.left-padded {
	padding-left: 72px;	
}
@media only screen and (max-width: 540px) {
	.left-padded {
		padding-left: 0;
	}
}


.image-row-width {
	max-width: 800px;
}
.reading-width {
	max-width: 600px;
}
.margin-centered {
	margin: 0 auto !important;
}

/* full-width separator */
.no-height {
	height: 1px;
}


@media only screen and (max-width: 768px) {
	.add-side-padding {
		padding: 0 15px;
	}
}



/* grey-scaling images */
.filter-grayscale {
	-ms-filter: opacity(50%) grayscale(100%);
	-webkit-filter: opacity(50%) grayscale(100%);
   filter: opacity(50%) grayscale(100%);
}



/* POP-UP SALES page, separator above Features section */
.with-drop-shadow {
	box-shadow: 0 2px 4px 0 #000;
}
/* POP-UP-SALES page, SF icons*/
.app-icon-width {
	width: 70px !important;
}

/* POP-UP-SALES page, generic-icons */
@media only screen and (max-width: 768px) {
	.mobile-unfloat-center {
		width: 100% !important;
		float: none !important;
		text-align: center !important;
	}
}

/* POP-UP-SALES page, */
@media only screen and (max-width: 540px) {
	.mobile-align-center {
		text-align: center !important;
	}
}

/* POP-UP-SALES page */
.box-height-pop-up > .box-holder {
	height: 250px;
}
@media only screen and (max-width: 820px) {
	.box-height-pop-up > .box-holder {
		height: 270px;
	}
}
@media only screen and (max-width: 767px) {
	.box-height-pop-up > .box-holder {
		height: auto;
	}
}




/* CAROUSEL [ < 540px ] */
.carousel {
    width: 800px;
    height: 650px;
    margin: 0 auto;
    position: relative;
}

.carousel-fade .device .blade-bg {
    height: 648px !important;
    position: absolute;
    left: 231px;
    z-index: 1;
}
.carousel-fade .device .albert-bg {
    height: 647px !important;
    position: absolute;
    left: 110px;
    z-index: 1;
}

.carousel-fade .device .carousel-control-blade:hover,
.carousel-fade .device .carousel-control-albert:hover {
    transform: scale(1.2);
}


/* next & previous controls*/
.carousel-fade .device .carousel-control-blade {
    position: absolute;
    top: 55%; left: 210px;
    padding: 5px;
    color: #aaa;
    background-color: #ddd;
    background-image: none;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 100;
    text-align: center;
    transition: all 100ms ease-in;
}
.carousel-fade .device .carousel-control-blade:last-of-type {
    left: 510px;
}
.carousel-fade .device .carousel-control-albert {
    position: absolute;
    top: 40%; left: 60px;
    padding: 5px;
    color: #aaa;
    background-color: #ddd;
    background-image: none;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 100;
    text-align: center;
    transition: all 100ms ease-in;
}
.carousel-fade .device .carousel-control-albert:last-of-type {
    left: 520px;
}
.carousel-fade .device .left,
.carousel-fade .device .right {
    width: 30px; height: 30px;
    font-size: 15px;
}


.carousel-fade .carousel-inner {
    width: 100%; height: 650px;
    text-align: center; 
}


/* class '.item' works for Blade device */
.carousel-fade .carousel-inner .item {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition-property: opacity;
    text-align: center; /* for the screenshots and device image */
}
.carousel-fade .carousel-inner .albert {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition-property: opacity;
    text-align: center; /* for the screenshots and device image */
}


.carousel-fade .carousel-inner .active {
    opacity: 1 !important;
}


.carousel-fade .carousel-inner .item img {
    width: 200px;
    height: 348px;
    position: absolute;
    top: 226px; left: 275px;
    transform: translate3d(0, 0, 0) !important;
}
.carousel-fade .carousel-inner .albert img {
    width: auto !important;
    height: 500px !important;
    position: absolute;
    top: 72px; left: 148px;
    transform: translate3d(0, 0, 0) !important;
}


.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .next {
    opacity: 0 !important;
}

.carousel-fade .carousel-inner .right,
.carousel-fade .carousel-inner .left {
    opacity: 1 !important;
}



.carousel-caption {
    width: 100%;
    position: absolute;
    top: 220px; left: 0;
    color: #393836;
    text-shadow: none;
}
.carousel-caption .left-hand {
    width: 40%;
    text-align: right;
}
.carousel-caption .right-hand {
    width: 30%;
    position: absolute;
    top: 20px; right: 0; left: auto;
    padding: 0 30px 0 15px;
    text-align: left;
}

.carousel-caption ul {
    list-style-type: disc;
    padding: 0;
    text-align: left;
}
.carousel-caption ul li {
    color: #696969;
}
.carousel-caption h3 {
    font-size: 18px !important;
}
.carousel-caption p {
    text-align: left !important;
}


.carousel-indicators {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    left: 0; bottom: -100px;
    margin-left: 0;
}
.carousel-indicators li {
    width: 12px; height: 12px;
    margin: 2px; padding: 1px;
    background-color: #187C8F;
}
.carousel-indicators .active {
    width: 12px; height: 12px;
    margin: 2px; padding: 1px;
    background-color: #ef5a3f;
}

@media only screen and (max-width: 800px) {
    .carousel {
        width: 100%; max-width: 720px;
        height: 480px;
        margin: 0 auto;
        position: relative;
    }

    /* next & previous controls*/
    .carousel-fade .device .carousel-control-blade {
        position: absolute;
        top: 41%; left: 120px;
    }
    .carousel-fade .device .carousel-control-blade:last-of-type {
        left: 360px;
    }
    .carousel-fade .device .carousel-control-albert {
        position: absolute;
        top: 30%; left: 40px;
        padding: 5px;
    }
    .carousel-fade .device .carousel-control-albert:last-of-type {
        left: 400px;
    }

    .carousel-fade .device .blade-bg {
        height: 480px !important;
        position: absolute;
        left: 150px;
        z-index: 1;
    }
    .carousel-fade .device .albert-bg {
        height: 480px !important;
        position: absolute;
        left: 90px;
        z-index: 1;
    }

    .carousel-fade .carousel-inner .item img {
        width: auto;
        height: 258px !important;
        position: absolute;
        top: 168px; left: 183px;
        transform: translate3d(0, 0, 0) !important;
    }
    .carousel-fade .carousel-inner .albert img {
        width: auto !important;
        height: 370px !important;
        position: absolute;
        top: 54px; left: 119px;
        transform: translate3d(0, 0, 0) !important;
    }

    .carousel-caption {
        top: 165px;
    }
}

@media only screen and (max-width: 600px) {
    #carousel {
        display: none;
    }
}


/* MODALS [ >= 600px ] */
#modals {
    display: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 15px;
}

.modal-trigger {
    display: block;
    padding: 30px 0;
    color: #187C8F;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.modal-trigger:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.modal {
    width: 100%;
    height: auto;
    position: fixed;
    top: 100px; right: 0; bottom: 0; left: 0;
    margin: 0 auto;
    padding: 15px !important;
    background-color: #fff;
    z-index: 2000;
    overflow: auto;
}
.modal-button-close {
    position: absolute;
    top: 15px; right: 20px;
    cursor: pointer;
}
.modal-button-close:hover {
    text-decoration: none;
}
.modal-caption {
    width: 100%; max-width: 290px;
    margin: 0 auto;
}
.modal-caption h3 {
    text-align: center;
}
.modal-caption p, .modal-caption ul {
    
}
.modal-image {
    width: 100%; max-width: 290px;
    height: auto;
    margin: 0 auto 15px;
}
.modal-image img {
    width: 100%; height: 100%;
}

.modal-backdrop {
    display: none !important;
}

@media only screen and (max-width: 600px) {
    #modals {
        display: block !important;
    }
}



/* HOME PAGE > 20 years section */
@media only screen and (max-width: 972px) {
	.box-height-20yrs > .box-holder {
		height: 270px;
	}
}
@media only screen and (max-width: 790px) {
	.box-height-20yrs > .box-holder {
		height: 290px;
	}
}
@media only screen and (max-width: 767px) {
	.box-height-20yrs > .box-holder {
		height: auto;
	}
}



/* SUREFIRE POS SYSTEM PAGE */
.box-height > .box-holder {
		height: 360px;
}
@media only screen and (max-height: 980px) and (min-width: 768px) {
	.box-height > .box-holder {
		height: 400px;
	}
}
@media only screen and (max-width: 767px) {
	.box-height > .box-holder {
		height: auto;
	}
}

.box-height-2 > .box-holder {
		height: 380px;
}
@media only screen and (max-width: 830px) and (min-width: 768px) {
	.box-height-2 > .box-holder {
		height: 440px;
	}
}
@media only screen and (max-width: 767px) {
	.box-height-2 > .box-holder {
		height: auto;
	}
}



/* GENERAL */
.bordered-right {
	border-right: 2px solid #ddd;
}
@media only screen and (max-width: 768px) {
	.bordered-right {
		border: none;
		border-bottom: 2px solid #f5f5f5;
	}
}

@media only screen and (max-width: 540px) {
	.align-center-mobile {
		text-align: center;
	}	
}

@media only screen and (min-width: 900px) {
	.control-height {
		max-height: 350px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
	.control-height {
		max-height: 280px;
	}
}
@media only screen and (max-width: 540px) {
	.image-align-right {
		position: relative;
		right: -15%;
	}
}



/* BANNER-SLIDER */
.banner-slider {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.banner-slider .carousel-control {
    background-image: none;
    opacity: 0;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.banner-slider .carousel-control:hover {
    opacity: 1;
}

.banner-slider .carousel-inner .item {
    width: 100%;
}
.banner-slider .carousel-inner .item h2 {
    width: 100%;
    margin: 0 auto;
    padding: 160px 15px 0;
    color: #fff;
    font-size: 46px;
    text-align: center;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.banner-slider .carousel-inner .item h2:last-of-type {
    padding: 0 15px;
}
.banner-slider .carousel-inner .item:last-of-type h2:first-of-type {
    padding: 105px 15px 0;
}

@media only screen and (max-width: 768px) {
    /* .banner-slider .carousel-inner .item:first-of-type h2 {
        padding: 190px 15px 0;
    } */
    .banner-slider .carousel-inner .item h2:last-of-type {
        padding: 0 15px;
    }
}
@media only screen and (max-width: 768px) {
    .banner-slider .carousel-inner .item:last-of-type h2 {
        padding: 120px 15px 0;
    }
    .banner-slider .carousel-inner .item h2:last-of-type {
        padding: 0 15px;
    }
}
@media only screen and (max-width: 540px) {
    .banner-slider .carousel-inner .item h2 {
        font-size: 28px;
    }
}
@media only screen and (max-width: 480px) {
    .banner-slider .carousel-inner .item:last-of-type h2 {
        padding: 120px 15px 0;
    }
    .banner-slider .carousel-inner .item h2:last-of-type {
        padding: 0 15px;
    }
}
@media only screen and (max-width: 360px) {
    .banner-slider .carousel-inner .item:last-of-type h2 {
        padding: 80px 15px 0;
    }
    .banner-slider .carousel-inner .item h2:last-of-type {
        padding: 0 15px;
    }
}
.banner-slider .carousel-inner .item h3 {
    width: 100%; max-width: 600px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
@media only screen and (max-width: 540px) {
    .banner-slider .carousel-inner .item h3 {
        font-size: 24px;
    }
}

.banner-slider .carousel-inner .active {

}
.banner-slider .carousel-inner .item:first-of-type {
    width: 100%; height: 450px;
    background-image: url('http://surefiresystems.com/wp-content/uploads/2018/03/banner_slider-1-2-edit-gray.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-slider .carousel-inner .item:last-of-type {
    width: 100%; height: 450px;
    background-image: url('http://surefiresystems.com/wp-content/uploads/2018/03/banner_slider-2-2-new-gray-blur.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-slider .carousel-inner .item:last-of-type .brands {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.banner-slider .carousel-inner .item:last-of-type .brands img {
    width: 150px; height: 150px;
    margin: 0 15px;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}
@media only screen and (max-width: 980px) {
    .banner-slider .carousel-inner .item:last-of-type .brands img {
        width: 110px; height: auto;
    }
}
@media only screen and (max-width: 480px) {
    .banner-slider .carousel-inner .item:last-of-type .brands img {
        width: 90px;
    }
}

/* MOBILE-GRID */
.mobile-grid {
    box-sizing: border-box;
    max-width: 600px;
    margin: 60px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}
.mobile-grid .item {
    box-sizing: border-box;
    display: inline-block;
    width: 200px; height: 200px;
    padding: 12px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.mobile-grid .item:nth-of-type(1),
.mobile-grid .item:nth-of-type(2),
.mobile-grid .item:nth-of-type(3) {
    border-top: 1px solid #ddd;
}
.mobile-grid .item:nth-of-type(1),
.mobile-grid .item:nth-of-type(4),
.mobile-grid .item:nth-of-type(7),
.mobile-grid .item:nth-of-type(10) {
    border-left: 1px solid #ddd;
}

.mobile-grid .item img {
    width: 100%; height: 100%;
}

@media only screen and (max-width: 656px) {
    .mobile-grid .item:nth-of-type(3) {
        border-top: none;
        border-left: 1px solid #ddd;
    }
    .mobile-grid .item:nth-of-type(4),
		.mobile-grid .item:nth-of-type(10) {
        border-left: none;
    }
    .mobile-grid .item:nth-of-type(5),
    .mobile-grid .item:nth-of-type(9),
		.mobile-grid .item:nth-of-type(11) {
        border-left: 1px solid #ddd;
    }
}

@media only screen and (max-width: 456px) {
    .mobile-grid .item:nth-of-type(1) {
        border-bottom: none;
    }
    .mobile-grid .item:nth-of-type(2) {
        border-left: 1px solid #ddd;
    }
    .mobile-grid .item:nth-of-type(4),
    .mobile-grid .item:nth-of-type(6),
    .mobile-grid .item:nth-of-type(8),
    .mobile-grid .item:nth-of-type(10),
    .mobile-grid .item:nth-of-type(11),
    .mobile-grid .item:nth-of-type(12) {
        border-left: 1px solid #ddd;
    }
}


/* MOBILE SUITE PAGE */
.box-height-460 > .box-holder {
 		height: 460px;	
}
@media only screen and (max-width: 880px) {
	.box-height-460 > .box-holder {
			height: 550px;
	}
}
@media only screen and (max-width: 768px) {
	.box-height-460 > .box-holder {
			height: auto;
	}
}